

<div class="row">
  <div class="col-md-6 col-sm-12">
    <div class="card" style="width: 20rem;">
      <div class="card-body">
        <h4 class="card-title">Apps</h4>
        <p class="card-text">Total: {{stats.apps.total}}</p>
        <p class="card-text">Active: {{stats.apps.active}}</p>
      </div>
    </div>
  </div>
  <div class="col-md-6 col-sm-12">
    <div class="card" style="width: 20rem;">
      <div class="card-body">
        <h4 class="card-title">Payments</h4>
        <!-- <p class="card-text">$2, 200.23</p>
        <p class="card-text">34 ETH</p>
        <p class="card-text">25 BTC</p> -->
      </div>
    </div>
  </div>
</div>
