
<div class="container">
  <div class="row">
    <div class="col-md-6">
      <div class="card">
        <div class="card-body">
          <h4 class="card-title">Test Payment</h4>
          <form>
            <div class="form-group">
              <label>APP Key</label>
              <input type="text" class="form-control" [(ngModel)]="appKey" name="payment-app-key">
            </div>

            <div class="form-group">
              <label>Payment Type</label>
              <select name="payment-type" class="form-control" [(ngModel)]="app.payment_type">
                <option value=""></option>
                <option value="btc">BTC</option>
                <option value="eth">ETH</option>
              </select>
            </div>

            <div class="form-group">
              <button class="btn btn-primary" (click)="submitPaymentRequest()">Submit</button>
            </div>

          </form>
        </div>
      </div>
    </div>

    <div class="col-md-6">
      <div class="col-md-12">
        <div class="card">
          <div class="card-body">
            <h4 class="card-title">Transaction Result</h4>
            <p class="pre">
              {{result | json}}
            </p>
          </div>
        </div>
      </div>

      <div class="col-md-12">
        <div class="card">
          <div class="card-body">
            <h4 class="card-title">Payment Status(Websocket)</h4>
            <p class="pre">
              {{status | json}}
            </p>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-6">
      <div class="card">
        <div class="card-body">
          <h4 class="card-title">App Payment Data</h4>
          <form>
            <div class="form-group">
              <label>APP Key</label>
              <input type="text" class="form-control" [(ngModel)]="trackAppKey" name="track-app-key">
            </div>

            <div class="form-group" *ngIf="trackData">
              <label>Token Price: {{trackData.token.price}} <span class="uppercase">{{trackData.token.unit}}</span></label>
            </div>

            <div class="form-group" *ngIf="trackData">
              <label>ETH Rate: {{trackData.rates.eth}} USD</label>
            </div>

            <div class="form-group" *ngIf="trackData">
              <label>BTC Rate: {{trackData.rates.btc}} USD</label>
            </div>

            <div class="form-group">
              <button class="btn btn-primary" (click)="paymentData()">GET</button>
            </div>

          </form>
        </div>
      </div>
    </div>

  </div>
</div>
